.vscode
.vscode-test
out/test/**
out-cov/
coverage-reports/
src
.gitignore
.yarnrc
tsconfig.json
node_modules
!node_modules/@vscode/extension-telemetry/**
!node_modules/@microsoft/applicationinsights-web-basic/**
!node_modules/@microsoft/applicationinsights-common/**
!node_modules/@microsoft/applicationinsights-core-js/**
!node_modules/@microsoft/1ds-core-js/**
server
test/
img/
qcumber.sh 
esbuild.mjs
sonar-project.properties
eslint.config.cjs
eslint.config.mjs
ref_card.md
release_process.md
.github/
out-test/
.test-extensions/
.test-folder/
.prettierignore
.README
