html,
body {
  height: 86vh;
  width: 99%;
  padding: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

body {
  margin: 8px;
}

.header-wrapper {
  display: block;
  width: 100%;
  float: left;
}

.results-datagrid {
  background: #00000010;
}

.results-header-datagrid {
  background: #00000050;
}

.results-txt {
  white-space: pre;
}

/* styles.css */

.custom-ag-grid-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.custom-ag-grid-header-title {
  font-weight: bold;
  font-size: 14px;
}

.custom-ag-grid-header-subtitle {
  font-size: 12px;
  color: #666666;
}
