html,
body {
  height: 86vh;
  width: 99%;
  padding: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

body {
  margin: 8px;
}

.header-wrapper {
  display: block;
  width: 100%;
  float: left;
}

.results-datagrid {
  background: #00000010;
}

.results-header-datagrid {
  background: #00000050;
}

.results-txt {
  white-space: pre;
}

/* styles.css */

.custom-ag-grid-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.custom-ag-grid-header-title {
  font-weight: bold;
  font-size: 14px;
}

.custom-ag-grid-header-subtitle {
  font-size: 12px;
  color: #666666;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  display: none; /* Initially hidden */
}

.loading-box {
  background: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: var(--vscode-progressBar-background);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-text {
  margin-top: 10px;
  font-size: 14px;
}
