:root {
  --sl-focus-ring-color: var(--vscode-focusBorder);
  --sl-focus-ring-width: 1px;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  line-height: var(--sl-line-height-dense);
}

body {
  overflow: hidden;
  font-size: var(--vscode-font-size);
  font-family: var(--vscode-font-family);
  font-weight: var(--vscode-font-weight);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  color: var(--vscode-foreground);
  background-color: var(--vscode-panel-background);
}
